.game-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.game-container {
  display: flex;
  justify-content: center;
}

.game-box {
  display: flex;
  gap: 10px;
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
