<div class="intro-page container">
  <h1 class="title">TETRIS RETRO</h1>
  <h2>Welcome to Tetris Retro!</h2>
  <h4>Get ready to experience the classic game with a retro twist.</h4>

  <form [formGroup]="introForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="playerName">Player Name</label>
      <input
        class="form-input"
        type="text"
        formControlName="playerName"
        id="playerName"
      />
      <div
        *ngIf="
          introForm.get('playerName')?.invalid &&
          introForm.get('playerName')?.touched
        "
        class="error"
      >
        Please enter a valid name (min. 5 characters).
      </div>
    </div>

    <div class="form-group">
      <label for="authCode">Auth Code</label>
      <input
        id="authCode"
        type="text"
        formControlName="authCode"
        class="form-input"
      />
      <div
        *ngIf="
          introForm.get('authCode')?.invalid &&
          introForm.get('authCode')?.touched
        "
        class="error"
      >
        Please enter a valid auth code (min. 5 characters).
      </div>
    </div>

    <div class="form-group">
      <label for="color">Select Color</label>
      <select id="color" formControlName="color" (change)="onColorChange()">
        <option *ngFor="let color of colors" [value]="color">
          {{ color }}
        </option>
      </select>
    </div>

    <!-- <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div> -->

    <button type="submit" class="start-game-btn" [disabled]="introForm.invalid">
      Start Game
    </button>
  </form>

  <div [ngClass]="{ 'high-contrast': selectedColor === 'high-contrast' }">
    <p>This text changes color based on your selection.</p>
  </div>
</div>
