<div class="intro-page container">
  <h1 class="title">TETRIS RETRO</h1>
  <h2>Welcome to Tetris Retro!</h2>
  <h4>Get ready to experience the classic game with a retro twist.</h4>

  <form #playerForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="playerName">Player Name</label>
      <input
        class="form-input"
        type="text"
        id="playerName"
        name="playerName"
        [(ngModel)]="playerName"
        required
        #playerNameInput="ngModel"
      />
      <div
        *ngIf="playerNameInput.invalid && playerNameInput.touched"
        class="error"
      >
        Please enter your name.
      </div>
    </div>

    <div class="form-group">
      <label for="playerEmail">Player Email</label>
      <input
        class="form-input"
        type="email"
        id="playerEmail"
        name="playerEmail"
        [(ngModel)]="playerEmail"
        required
        email
        #playerEmailInput="ngModel"
      />
      <div
        *ngIf="playerEmailInput.invalid && playerEmailInput.touched"
        class="error"
      >
        Please enter a valid email address.
      </div>
    </div>

    <button
      type="submit"
      class="start-game-btn"
      [disabled]="playerForm.invalid"
    >
      Start Game
    </button>
  </form>
</div>
