.history-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.history-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);

  select {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: white;
    font-size: 16px;
    cursor: pointer;

    appearance: none;
    background-image: url("../../assets/chevron.svg");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px;

    padding-right: 30px;

    &:focus {
      border-color: #4caf50;
      outline: none;
    }

    option {
      padding: 8px;
    }
  }

  button {
    background-color: #4caf50;
    color: white;
    padding: 8px 14px;
    border: none;
    border-radius: 8px;
    margin-left: 8px;
    cursor: pointer;

    &:hover,
    &:focus {
      background-color: #66bb6a;
    }
  }
}

.history-list {
  max-height: 200px;
  overflow-y: auto;
}
