<div class="history-modal">
  <div class="history-content">
    <button class="close-button-modal" (click)="close()">&times;</button>
    <h3 class="modal-title">Game History</h3>
    <select class="history-select" [(ngModel)]="selectedFilter">
      <option value="all">All</option>
      <option value="Game Started">Game Started</option>
      <option value="Game Stoped">Game Stoped</option>
      <option value="Line Cleared">Line Cleared</option>
      <option value="Game Reset">Game Reset</option>
      <option value="Moved Left">Moved Left</option>
      <option value="Moved Right">Moved Right</option>
      <option value="Moved Down">Moved Down</option>
      <option value="Dropped">Dropped</option>
    </select>

    <ol class="modal-list">
      <li *ngFor="let entry of history | filter : selectedFilter">
        {{ entry.timestamp | date : "short" }}: {{ entry.actionName }}
      </li>
    </ol>
  </div>
</div>
